<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>

        <template id="hello">
            <h1>{{ msg }}</h1>
        </template>

        <div id="app">
            <hello-component></hello-component>
        </div>

        <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
        <script>
            //register component
            Vue.component('hello-component', {
                // option "el" can only be used during instance creation with the `new` keyword
                /*el: function() { 
                    return '#hello';
                },*/
                data: function() {
                    return {
                        msg: 'Hello Component' 
                    };
                }, 
                template: '#hello'});

            //initializing the Vue application
            new Vue({
                el: '#app'
            });

        </script>
    </body>
</html>
